NEXT_PUBLIC_PB_URL=/
DATABASE_URL=postgresql://namder-admin:namder-password@localhost:5555/namder-db
JWT_SECRET=namder-dev-secret-change-in-production
HISTORICAL_NAMES_PATH=./data/historical_names.csv